# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Gameforkpi.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\unity\Gameforkpi\.idea\.idea.Gameforkpi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
